@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'GE-SS-Two-Bold';
  src: url(fonts/GE-SS-Two-Bold.otf);
}
@font-face {
  font-family: 'GE-SS-Two-Light';
  src: url(fonts/GE-SS-Two-Light.otf);
}
@font-face {
  font-family: 'GE-SS-Two-Medium';
  src: url(fonts/GE-SS-Two-Medium.otf)
}
@font-face {
  font-family: 'Letter-Gothic-Std';
  src: url(fonts/Letter-Gothic-Std-Bold.ttf);
}
body
{
	font-family: 'GE-SS-Two-Light', sans-serif;

}
a, p {
		font-family: 'GE-SS-Two-Light', sans-serif;
	font-size:12pt;
}
.search-heading {
	padding-top:-20px;
	padding-right:5px;
	font-family: 'GE-SS-Two-Light', sans-serif;
	text-align:right; font-size:14pt;
	line-height:30px;
	color:#FFF;
}
.search-heading-black {
	padding-top:-20px;
	padding-right:5px;
	font-family: 'GE-SS-Two-Light', sans-serif;
	text-align:right; font-size:14pt;
	line-height:30px;
	color:#000;
}

.myfontBold {
	font-family: 'GE-SS-Two-Light', sans-serif;
	text-align:right; font-size:20pt;
	color:#FFF;
}
.font-bold {
	font-family: 'GE-SS-Two-Light', sans-serif;
	text-align:center; font-size:12pt;
	color:#000;
}

.normal-heading {
	font-family: 'GE-SS-Two-Bold', sans-serif;
	text-align:right; font-size:12pt;
	padding: 20px 0 10px 0;
}

.heading-center {
	padding-top:50px;
	font-family: 'GE-SS-Two-Bold', sans-serif;
	text-align:center; font-size:25pt;
	color:#000;
}


.heading-center-home {
	padding-top:50px;
	font-family: 'GE-SS-Two-Bold', sans-serif;
	text-align:center; font-size:25pt;
	color:#000;
}

.btn-default {
  color: transparent;
  background-color: #177daa;
  color:#FFF;
  font-family: 'GE-SS-Two-Bold', sans-serif;
}
#nocircle {
	float:right;
	margin-right:30px;
	padding-top:65px;
}

#circle {
	float:right;
	width: 200px;
	height: 200px;
	background-color:#177daa;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 100px;
	margin-right:20px;
}
#circle h2 {
	padding-top:5px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:70pt;
	color:white;
	
}
#circle p {
	padding-top:-25px;
	text-align:center;
	font-family: 'GE-SS-Two-Light', sans-serif;
	font-size:12pt;
	color:white;
}

#packages span{
	font-family: 'GE-SS-Two-Bold', sans-serif;
	text-align:center;
	color:#06C;
	font-size:30px; 
	color:#06C;
}
#packages p{
	font-family: 'GE-SS-Two-Light', sans-serif;
	font-size:12pt;
	text-align:center;
}
.letterGothicStd {
	font-family:'Letter-Gothic-Light';
	font-size:17pt;
	color:#FFF;
}
.btn span {
	display:none;
	color:#063;

}
.navbar-nav a {
  color:#c1c2c2;
  font-family: 'GE-SS-Two-Light', sans-serif;
  font-size:10pt;
  text-decoration:none;
}
.btn-default{
	border:none;
	font-family:'GE-SS-Two-Light', sans-serif;
	font-size:12pt;
}
}

.form-control {
	max-width: 100%;
	
}

.mainheader {
	font-size:29pt;
	font-family: 'GE-SS-Two-Light', sans-serif;
	color:#0d73ad;
	
}
.search-heading-right {
	font-family: 'GE-SS-Two-Bold', sans-serif;
	font-size: 1.4em;
	text-align:right; 
	padding-right:10px; 
	color:#fff;
	display:block;
	height:68px;background-color:#0d73ad;color:#FFF;
}
.search-heading-left {
	font-family: 'GE-SS-Two-Bold', sans-serif;
	font-size: 1.0em;
	text-align:right; 
	padding-right:10px; 
	color:#000;
	display:block;
}
.text-marign{
	padding: 10px 10px 10px 10px;
}
.btn-send {
  background-color: #177daa;
  color:#FFF;
  font-family: 'GE-SS-Two-Bold', sans-serif;
  font-size:18px;
}
#search-form p {
  display:inline-block;
}

div .services-table {
			margin: 1px 1px 1px 1px;
	
}
div .services-tables p {
	font-size:12px;
	text-wrap:none;

}

h3 {
	font-family: 'GE-SS-Two-Light', sans-serif;
	font-size:20pt;
	font-weight:bold;
}
.no-bullets {
	 list-style-type: none;
	 padding:0; margin:0; 
}
.comments-h1{
	font-family: 'GE-SS-Two-Bold', sans-serif;
	font-size:20t;
}
.form-group
{
	margin-top:10px;
	padding-bottom:10px;
}
.form-group input[type=text],input[type=email],textarea
{
	font-family: 'GE-SS-Two-Light', sans-serif;
	font-size:16px;
	width:94%;
	margin-bottom:2px;
	color:#6b6e6e;
	background-color:#2d3434;
	padding: 20px 5px 20px 0;
	border: 0 0 0 0;
	border-color:transparent;
}
	